<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.quiz.it">

    <application>
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6280947803421936~1537261539" />
    </application>
</manifest>
