<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219522966725-2k7b4a7bm7cu8bt51rl2a0lieacsbk4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219522966725-2k7b4a7bm7cu8bt51rl2a0lieacsbk4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCpoIytNQUIRsFEp4aCG9A_uvNwoHq5fJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>219522966725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.quiz.it</string>
	<key>PROJECT_ID</key>
	<string>kentei-quiz-18ce5</string>
	<key>STORAGE_BUCKET</key>
	<string>kentei-quiz-18ce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219522966725:ios:2543fd388159266a4f3cac</string>
</dict>
</plist>